@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&family=Nunito:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 300;
    color: #333333;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.5em;
    margin: 2.5em 0 1.25em 0;
    text-align: center;
  }

  h4 {
    font-size: .875em;
  }

  p {
    font-size: 1.125em;
    line-height: 1.5em;
  }

  a {
    text-decoration: none;
  }


  ul {
    list-style: none;
  }

  .container {
    max-width: 42em;
    padding: 2.5em;
    margin: 0 auto;
    overflow: hidden;
  }

  .wide-container {
    max-width: 70em;
    margin: 0 auto;
    padding: 0 2.5em;
    border-bottom: 1px solid #f5f5f5;
    overflow: hidden;
  }

  .header h1,
  .header ul li {
    font-size: 1.125em;
  }


  .header .wide-container {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }



  .header ul {
    display: flex;
  }

  .header ul li {
    padding: 0 1em;
  }

  .header-nav a, 
  .footer-nav li a, 
  .main-contact p a {
    color: #777777;
  }

  .header-nav a:hover, 
  .footer-nav li a:hover, 
  .main-contact p a:hover {
    color: #333;
  }

  .container h2 {
    text-align: center;
    margin: 1em;
  }

  .container h3 a {
    color: #aaaaaa;
  }

  .container h3 a:hover {
    color: #333;
  }

  .post h4 {
    text-align: center;
    margin-bottom: 2em;
    text-transform: uppercase;
  }

  .post h4 {
    color: #aaa;
    letter-spacing: 3px;
  }

  .post h4 a {
    border-bottom: 2px solid #aaa;
  }

  .grey {
    color: #aaaaaa;
  }

  .footer {
    background-color: #f5f5f5;
    padding: 2.5em 0;
    text-align: center;
  }

  .footer h1 {
    font-size: 1.5em;
  }

  .footer .wide-container {
    padding: 0;
  }

  .product-card {
    background-color: #fff;
    min-width: 16em;
    min-height: 6em;
    margin: 2em 3em 0 0em;
    padding: 45px 30px;
    border-radius: 4px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.10);
    transition: all .3s linear;
  }

  .product-card:last-child {
    margin: 2em 0 0;
  }

  .product-card:hover {
    transform: scale(1.01);
    
  }

  .product-card p {
    margin: 1em 0 0;
    
  }

  .product-cards a {
    display: flex;
    justify-content: space-around;
  }

  .product-cards {
    padding: 0 2em;
  }

  .updates {
    margin: 2.5em 0;
    padding: 2.5em 0;
  }

  .form-title {
    padding: 1em;
    font-size: 1.125em;
  }

  #form-content {
    display: flex;
    justify-content: center;
  }

  .form-element {
    margin-right: 1em;
  }

  .form-element input, button {
    padding: .7em 1em;
    font-size: 1em;
    border: none;
    border-radius: 3px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.10);
    outline: none;
  }

  button {
    background-color: lightseagreen;
    color: #fff;
    cursor: pointer;
    letter-spacing: .02em;
  }

  .footer-nav {
    border-top: 1px solid rgba(32, 178, 170, .5);
    padding: 2.5em 0;
    
  }

  .footer-nav ul {
    display: flex;
    justify-content: space-evenly;
  }

  .footer-nav a {
    color: #333;
  }

  .facebook {
    font-size: 20px;
  } 

  .remove {
    display: none;
  }

  #text-box {
    color: lightseagreen;
  }

  .updates {
    height: 10em;
  }

  .main-contact {
    margin: 2.5em 0;
    padding: 2.5em 0;
    font-size: .875em;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-contact p {
    padding: .3em .5em;
  }
  .main-contact span {
    font-weight: 700;
    font-size: 24px;
  }
  

  @media (max-width: 400px) {
    .product-card img {
      width: 100%;
    }
  }

  @media (max-width: 575px) {
    .header .wide-container {
      flex-direction: column;
      justify-content: center;
      align-items: center; 
      padding: 0;
    }

    .header ul, .footer-nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .header ul li, .footer-nav ul li {
      padding: 0 .5em;
    }
  
    nav {
      margin-top: .2em;
    }

    #form-content {
      flex-direction: column;
      align-items: center;
    }

    .form-element {
      margin: 0 0 1em 0;
    }

    #form-content {
      padding: 0;
    }

    .form-element input {
      width: 80vw; 
    }


    .updates {
      height: 18em;
  }
  }

  @media (max-width: 1199px) {
    .product-cards a {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .product-card {
      margin: 2em 0 0;
    }
  }

